*{
	margin:0;
	padding:0;
	list-style: none;
	box-sizing: border-box;
	/*background:#F5F6FA ;*/
	/*font-size: 0.08rem;*/
}
a{
	text-decoration: none;
}
html,body{
	width:100%;
	height:100%;
	overflow: hidden;
}
body{
	overflow: scroll;
}

/*头部开始*/
.header{
	width:100%;
	height:0.44rem;
	/*background:#007BE3;*/
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	
}
.header .header1{
	width:100%;
	height:0.44rem;
    display: flex;
	align-items: center;
	justify-content: space-around;
	
}
  

	
.header a{
	display: block;
	width:20%;
	height:98%;
	color:#fff;
	font-size: 0.15rem;
	text-align: center;
	line-height: 0.44rem;
	
}
.header .shizi{
    width: 18%;
	border-bottom: 0.03rem solid #fff;
}


.header .span{

	width:0.73rem;
	height:0.31rem;
	background-color: rgb(3, 21, 155);
    color: rgb(255, 255, 255);
    border-radius: 0.05rem;
    font-size: 0.12rem;
    /*text-align: center;*/
    /*vertical-align: middle;*/
    position: absolute;
    top: 0.06rem;
    left: 78%;
    right: 3%;
    height: 0.29rem;
    line-height: 0.29rem;
    border-radius:0.05rem;
    font-size: 0.12rem;
    text-align: center;
    vertical-align: middle;
    z-index: 4;
}


/*头部结束*/


/*banner开始*/
.banner {
    position: relative;
    width: 100%;
    height: 2.5rem;
    background: url(../img/shizibanner1.jpg) center center no-repeat;
    background-size: 100%;
    overflow: hidden;
}
/*banner结束*/


/*目录开始*/
.tea_content {
    width: 100%;
    padding: 0.05rem 0.12rem 0;
}
.tea_content .mulu {
    height: 0.31rem;
    line-height: 0.31rem;
    width: 100%;
}
.tea_content .mulu a {
    color: #494747;
    font-size: 0.11rem;
    line-height: 0.35rem;
    float: left;
    margin: 0 0.07rem;
    font-weight: bold;
}
.tea_content .mulu a:nth-child(1) {
    margin-left: 0;
}
.tea_content .mulu span {
    float: left;
    width: 0.08rem;
    height: 0.1rem;
    margin-top: 0.13rem;
    font-size: 0.11rem;
    text-align: center;
    color: #494747;
    background-size: 100%;
    background: url(../img/jiantou.png) center center no-repeat;
    overflow: hidden;
}
.tea_tiao {
    width: 100%;
    background-color: #ffffff;
    margin-top: 0.1rem;
}
.tea_content .tab {
    width: 100%;
    height: 0.4rem;
    border: 0.005rem solid #01b5ff;
    border-radius: 0.035rem;
    box-sizing: border-box;
    margin-bottom: 0.1rem;
}
.tea_content .tab .tab_title.active {
    background-color: #01b5ff;
    border-radius: 0.035rem;
    color: #ffffff;
}
.tea_content .tab .tab_title {
    width: 33.33%;
    float: left;
    height: 100%;
    text-align: center;
    line-height: 0.4rem;
    font-size: 0.14rem;
    color: #111111;
    position: relative;
}
.tea_content .tab .tab_title.active .caret {
    display: block;
}
.tea_content .tab .tab_title .caret {
    position: absolute;
    width: 0rem;
    height: 0rem;
    border: 0.1rem solid;
    border-top-color: #01b5ff;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    top: 0.35rem;
    left: 50%;
    margin-left: -0.05rem;
   /* display: none;*/
}
.tea_content .tab_content {
    width: 100%;
}
.tea_content .tab_content .tab_neirong.active {
    display: block;
}
.tea_content .tab_content .tab_neirong {
    width: 100%;
 }
 .tea_content .tab_content .tab_neirong ul li {
    width: 100%;
    height: auto;
    padding: 0.1rem;
    box-sizing: border-box;
    border-bottom: 0.005rem  solid #b8b8b8;
    overflow: hidden;
}
..tea_tiao a .lia_teacher {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 0;
    background-color: transparent;
    border-radius: 0.035rem;
    text-align: center;
    line-height: 0;
    font-size: 0;
    margin-left: 0;
}
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.tea_content .tab_content .tab_neirong ul li .img {
    width:1.15rem;
    height: 1.15rem;
    margin-top: 0.07rem;
    border-radius: 0.04rem;
    overflow: hidden;
    float: left;
}
.tea_content .tab_content .tab_neirong ul li .img img {
    width: 100%;
    height: 100%;
}
.tea_content .tab_neirong ul li .intro {
    width: 1.8rem;
    height: 100%;
    float: right;
    margin-top: 0.17rem;
    overflow: hidden;
}
.tea_content .tab_content .tab_neirong ul li .intro .part1 {
    width: 100%;
    float: left;
    text-align: left;
    
}
.tea_content .tab_content .tab_neirong ul li .intro .part1 .name {
    font-size: 0.13rem;
    color: #111;
    height: 0.15rem;
    line-height: 0.15rem;
    width: 100%;
    overflow: hidden;
    /*white-space: nowrap;
    text-overflow: ellipsis;*/
}
.tea_content .tab_content .tab_neirong ul li .intro .part1 .line {
    border-bottom: 0.005rem dashed #b8b8b8;
    width: 1.8rem;
    height: 0;
    margin: 0.1rem 0;
}
.tea_content .tab_content .tab_neirong ul li .intro .part1 .position {
    font-size: 0.12rem;
    color: #01b5ff;
    width: 100%;
    height: 0.13rem;
    overflow: hidden;
    /*white-space: nowrap;
    text-overflow: ellipsis;*/
    line-height: 0.12rem;
    margin-left: 0;
}
.tea_content .tab_content .tab_neirong ul li .intro p.part3 {
    width: 1.5rem;
    height: 0.15rem;
    color: #666666;
    font-size: 0.12rem;
    float: left;
    margin-top: 0.1rem;
    line-height: 0.15rem;
    text-align: left;
    background-color: #fff;
    margin-left: 0;
    overflow: hidden;
    white-space: nowrap;
    /*text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;*/
}
.tea_content .tab_content .tab_neirong ul li p.part2 {
    float: left;
    color: #ff9300;
    height: 0.24rem;
    font-size: 0.12rem;
}



/*条目开始*/
.yema {
    width: 100%;
    height: auto;
}

.tea_tiaos {
    height: 0.4rem;
    padding-top: 0.075rem;
}
.tea_tiao {
    width: 100%;
    background-color: #ffffff;
    margin-top: 0.1rem;
}
.yemas .tea_tiao a:nth-child(1) {
    margin-left: 0.14rem;
}
.tea_tiaos a:nth-child(1) {
    width: 0.25rem;
    margin-left: 0.3rem;
    background: url(../img/s1.png) 0 0 no-repeat;
    background-size: 100%;
}
.tea_tiaos a {
    float: left;
    padding: 0.05rem;
    height: 0.25rem;
    border-radius: 0.2rem;
    font-size: 0.12rem;
    text-align: center;
    line-height: 0.15rem;
    margin-right: 0.07rem;
}

.tea_tiaos a:nth-child(2) {
    width: 0.75rem;
    background: url(../img/s2.png) 0 0 no-repeat;
    background-size: 100%;
}
.tea_tiaos a.a1 {
    border: 0.005rem solid #666;
    letter-spacing:0.005rem;
    color: #666;
    width: 0.7rem;
}
.tea_tiaos a:nth-child(4) {
    width: 0.7rem;
    background: url(../img/s3.png) 0 0 no-repeat;
    background-size: 100%;
}
.tea_tiaos a:nth-child(5) {
    width: 0.25rem;
    background: url(../img/s4.png) 0 0 no-repeat;
    background-size: 100%;
}
/*条目结束*/

/*目录结束*/


/*copyright开始*/
.tea_copyright {
    width: 100%;
    height:0.6rem;
    font-size: 0.15rem;
    overflow: hidden;
    background: #F5F6FA;
}
.tea_copyright p {
    color: #666;
    font-size: 0.1rem;
    text-align: center;
    padding-top: 0.09rem;
    }
    
    
.cc{
	width:100%;
	height:0.3rem;
}
/*copyright结束*/


/*底部开始*/
.contact{
    width: 100%;
    height: 0.45rem;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-top: 0.1rem;
   position: fixed;
    left: 0;
    bottom: 0;
  	/*position: absolute;
	bottom:0;*/
	
  z-index: 21;
    }
.contact .contact-list{
 	width: 100%;
    height: 100%;
    background:#e7e7e7;
    text-align: center;
   }
.contact a {
    width: 30%;
    height: 0.8rem;
    float: left;
  }
.contact a span{
	float: left;
    font-size: 0.13rem;
     margin-top: 0.03rem;
     margin-right: 0.03rem;
    text-align: center;
   }
   .contact .phone {
    width: 40%;
    height: 0.9rem;
    position: relative;
    z-index: 99999;
    box-shadow: 0 0 0.08rem rgba(255,126,0,0.1);
    margin-top: -0.1rem;
    /*background:#ff8d12;
    border-radius: 0.05rem;*/
   background: #E7E7E7;    }
    .contact a div .part2 span {
    float: left;
    font-size: 0.15rem;
    font-weight: bold;
   /* margin-left: 0.5rem;*/
      margin-top: 0.2rem;
      color:#fff;
      border-radius: 0.08rem;
   }
      
    .contact a div {
    width: 100%;
    height: 100%;
    font-size: 0.12rem;
    color: #000;
    text-align: left;
    line-height: 0.35rem;
    background: #e7e7e7;
}
   .contact a  .part2 {
   width:100%;
   height:0.45rem;
    border-radius: 0.08rem;
    color: #fff;
    text-align: center;
    box-shadow: 0px 0px 0.15rem #ff8d12;
    background-color: #ff8d12;
    margin-top: -0.0001rem;
    
}
.contact a div.part3 span{
}
.contact a div.part3{
	text-align: center;
}
.ss{
	width:100%;
	height:0.4rem;
}
.contact a .part1 i {
	
    background:url(../img/di1.png) 0 0 no-repeat;
    background-size: 100%;
}
.contact a div i {
    width: 0.16rem;
    height: 0.16rem;
    float: left;
    line-height: 0.45rem;
    margin-top: 0.14rem;
    margin-left: 0.13rem;
    
}
.contact a .part2 i {
	
    background:url(../img/tubiao.png) -0.8rem -2.4rem no-repeat;
    background-size: 100%;
    width: 0.18rem;
    height: 0.18rem;
   
    background-size:1rem;
    display: inline-block;
    line-height: 0.45rem;
    margin-left: 0.35rem;
}
.contact a div i {
    width: 0.16rem;
    height: 0.16rem;
    float: left;
    line-height: 0.45rem;
    margin-top: 0.14rem;
    margin-left: 0.13rem;
    
}
.contact a .part3 i {
    width: 0.18rem;
    height: 0.18rem;
    background: url(../img/tubiao.png) -0.8rem -2.6rem no-repeat;
    background-size: 1rem;
    display: inline-block;
    margin-left: 0.21rem;
}

/*底部结束*/